.article-box {
    width: 100vh;
    height: fit-content;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    margin: 5% 5%;
    border: 2px solid red;
    position: relative;
}

.col-65 {
    width: 60%;
}

.col-35 {
    width: 40%;
}

.image-box {
    width: 200px;
    height: 134px;
    margin: auto;
    object-fit: fill;
    overflow: hidden;
}

.article-info-box {
    display: inline;
}

.article-status {
    width: 100%;
}