* {
    padding: 0;
    margin: 0;
}

.responsive-nav {
    margin: 0 auto;
    max-width: 1192px;
    width: 100%;
    /* background-color: chartreuse; */
}

.nav-items {
    display: flex;
    align-items: center;
    height: 65px;
    /* background-color: coral; */
}

.left {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
}

.right {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
}

nav-menu {
    display: flex;
    justify-content: center;
}

.right input {
    width: 220px;
    height: 30px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    padding: 0 15px;
}

.app-logo {
    width: 150px;
    margin: 0 auto;
    cursor: pointer;
}

.nav-logo-box {
    display: flex;
    align-items: center;
}

.nav-logo-box a {
    display: flex;
    align-items: center;
}

.nav-logo-box h1 {
    margin-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-menu-box {
    display: flex;
    align-items: center;
}

.menu-items {
    margin-right: 15px;
}

.avatar {
    border-radius: 50%;
    padding: 10px 12px;
}

/********************************************/
@media only screen and (max-width: 1300px) {
    .responsive-nav {
        margin: 0 65px;
    }
}

@media only screen and (max-width: 900px) {
    .responsive-nav {
        margin: 0 48px;
    }
}

@media only screen and (max-width: 720px) {
    .responsive-nav {
        margin: 0 24px;
    }
}