* {
    padding: 0;
    margin: 0;
}

.bg {
    background-color: rgb(236, 181, 40);
    border-bottom: 1px solid black;
}

.responsive-nav {
    margin: 0 auto;
    max-width: 1192px;
    width: 100%;
    z-index: 1000;
    position: sticky;
    top: 0;
    /* background-color: chartreuse; */
}

.nav-items {
    display: flex;
    align-items: center;
    padding: 15px 0;
    /* background-color: coral; */
}

.left {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
}

.right {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
}

nav-menu {
    display: flex;
    justify-content: center;
}

.right input {
    width: 220px;
    height: 30px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    padding: 0 15px;
}

.nav-logo-box {
    display: flex;
    align-items: center;
}

.nav-logo-box a {
    display: flex;
    align-items: center;
}

.nav-logo-box h1 {
    margin-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-menu-box {
    display: flex;
    align-items: center;
}

.menu-items {
    margin-right: 15px;
    cursor: pointer;
}

.nav-menu-box span {
    min-width: fit-content;
    font-size: 14px;
    margin-right: 20px;
    font-weight: 400;
}

.nav-menu-box button {
    background-color: #191919;
    padding: 9px 16px 11px;
    border-radius: 35px;
    font-size: 14px;
    font-weight: 400;
}

.avatar {
    border-radius: 50px;
    padding: 10px 12px;
}

/********************************************/
@media only screen and (max-width: 1300px) {
    .responsive-nav {
        margin: 0 65px;
    }
}

@media only screen and (max-width: 900px) {
    .responsive-nav {
        margin: 0 48px;
    }
}

@media only screen and (max-width: 720px) {
    .responsive-nav {
        margin: 0 24px;
    }
}