* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

.home-box {
    width: 100%;
    height: 100vh;
}

.home-articles-box {
    margin: 50px auto;
    height: 100vh;
    width: 75%;
    justify-content: center;
    /* background-color: crimson; */
    display: flex;
    justify-content: center;
}

.home-tags {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    margin-top: 8px;
}

.blur {
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

