* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}


.home-box {
    height: fit-content;
    max-width: 1192px;
    justify-content: center;
    /* background-color: crimson; */
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 50px;
}

.home-tags {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    margin-top: 8px;
}

.home-pagination {
    width: 100%;
    margin-top: 50px;
    padding-bottom: 50px;
}

.blur {
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

@media only screen and (max-width: 1300px) {
    .home-box {
        margin: 0 65px;
    }
}

@media only screen and (max-width: 900px) {
    .home-box {
        margin: 0 48px;
    }
}

@media only screen and (max-width: 720px) {
    .home-box {
        margin: 0 24px;
    }
}