/* .tag-box-default {
    display: inline-block;
    background: #ccc;
    color: #292929;
    padding: 10px 12px;
    border-radius: 32px;
    font-size: 13px;
    margin: 2px 4px;
} */

/* .tag-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 220, 220);
    color: #292929;
    padding: 5px 10px;
    border-radius: 2px;
    font-size: 15px;
    margin: 0 8px 8px 0;
    border: 0.5px solid rgb(148, 146, 146);
} */
.tag-box {
    display: inline-block;
    min-width: fit-content;
    height: 30px;
    padding: 0 15px;
    margin: 0 8px 8px 0;
    font-size: 14px;
    line-height: 30px;
    border-radius: 5px;
    border: 0.2px solid rgb(193, 193, 193);
    background-color: #f1f1f1;
    color: #292929;
}

.tag-cancel {
    padding-left: 10px;
    color: #888;
    float: right;
    font-size: 20px;
    cursor: pointer;
}

.tag-cancel:hover {
    color: #292929;
}

/* .tag-cancel {
    margin: 0 0 0 10px;
    color: #292929;
    padding: 0 5px;
    border: 0.2px solid rgb(148, 146, 146);
    border-radius: 50%;
} */