.search-box {
    width: 100%;
    display: flex;
    /* background-color: tomato; */
    align-items: center;
    justify-content: flex-start;
}

.search-box input {
    width: 77%;
    margin: 2px 6px;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #efe7e5;
}

.search-box button {
    width: fit-content;
    justify-self: right;
}